body{background-color: #EEF9BF;display: flex;flex-direction: column;align-items: center;}

.container{width: 80vw;display: flex;margin-top:120px;
    justify-content: space-around;flex-wrap: wrap;
    position: absolute;}

.card{background-color: #A7E9AF;
width: 117px;height: 146px;
margin: 50px;
border: 1px solid #99CEA8;
box-sizing: border-box;
border-radius: 5px;
display: flex;justify-content: center;align-items: center;
position: relative;}

h1{font-family: 'Roboto', sans-serif;color:#75B79E;font-size:56px;margin:40px;}

.card img{width: 100px;height: 100px;}

.face {
    width: 100%;
    height: 100%;
    background-color: #A7E9AF;
    border-radius: 10px;
    box-shadow: 1px 1px 1px rgba(0,0,0,.3);
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    backface-visibility: hidden;
    transition: all .5s;
    transform-style: preserve-3d;
  }

  .back-face {
    transform: rotateY(180deg);
    
  }
  

  .card.virada .back-face {
    transform: rotateY(0deg);
  }

  .card.virada .front-face {
    transform: rotateY(-180deg);
    
  }


